.card-container > div {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  background-color: ghostwhite;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

*{
  margin: 0;
}

.header {
  padding: 20px;
  text-align: center;
  background-color: #758BFD;
  color: white;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
  padding: 10px;
  text-align: left;
  background-color: #758BFD;
  color: white;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-wrap: break-word;
}

body {
  background-color: #242038;
}

/* Front Page: Task 4 */
@media (max-width: 1050px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 850px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }